<!DOCTYPE html>
<html>
<head>
    <title >Words</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">

    <style>
        .suggestion {
            cursor: pointer;
        }
        #translate_text {
      border-bottom: 1px dashed #000;
    }
        .word-block {
            display: inline-block;
            border: 1px solid #ccc;
            padding: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-2">Перевод слов</h1>
        <form>
            <div class="form-group">
                с
                <select class="form-select" aria-label="Default select example" id="from">
                  <option value="ru">ru</option>
                  <option value="en">en</option>
                  <option value="pl">pl</option>
                  <option value="de">de</option>
                </select>
            на
                <select class="form-select" aria-label="Default select example" id="to">
                  <option value="en">en</option>
                  <option value="ru">ru</option>
                  <option value="pl">pl</option>
                  <option value="de">de</option>
                </select>
                <div id="txt_box"></div><br>

                <div id="txt_box_tranlate"></div>

                <label for="input_word">Введите предложение</label>
                <input type="text" class="form-control" id="input_word" name="input_word" required>

                <br><div class="btn btn-secondary" id = 'translate_all' >Перевести предложение</div>
                                <div class="btn btn-secondary" id = 'add_word' >Получить слова</div>
                                <br><br>


                <p id="translate_text" ></p>

                <div id="get_new_word"></div>

            </div>
        </form>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {get_first_word()});
$(document).on('click', '#add_word', async function() {get_first_word()});



function get_first_word(){
   var suggestionBox = $('#get_new_word');
       suggestionBox.empty();
      $.ajax({
        url: `/get_words_${document.getElementById("from").value}`,
        type: 'POST',
        dataType: 'json',
        success: function(data) {
            for (var i =0; i < data.predicted_words.length; i++){
            suggestionBox.append('<div class="suggestion btn btn-light">' + data.predicted_words[i] + '</div>');
             }

        }
    });
    }

    async function sleep(ms) {
        const start = new Date().getTime();
        while (new Date().getTime() - start < ms) {}
    }

    function pprint(obj) {
        const jsonString = JSON.stringify(obj, null, 2);
        console.log(jsonString);
    }
// Отслеживение изменения input
    $('#input_word').on('input', async function() {
            check_text();
            highlightWords();
            var inputWord = getLastWord();
            await makePrediction(inputWord.trim());
            if ($('#input_word').val().endsWith(' ')) {
  tr();}
        });

// Отслеживание нажатия на предложенное слово
    $(document).on('click', '.suggestion', async function() {
        var selectedWord = $(this).text();

        appendSelectedWord(selectedWord);
        clearSuggestions();
        makePrediction(getLastWord());
        highlightWords();
        tr()
        check_text();
    });

    // Отслеживание нажатия на предложенное слово
$(document).on('click', '#translate_all', function() {
  get_elem_plase = document.getElementById('translate_text')
  get_elem_text = document.getElementById('input_word')
  get_elem_plase.value = ""
  textPromise = translate(get_elem_text.value)
  console.log(textPromise)
  textPromise.then(text => {
    console.log(text)
    get_elem_plase.innerHTML = text
  })
});

    var isRequestSent = false;
// Функция предлагает новые слова
   async function makePrediction(inputWord) {
        if (!isRequestSent) {
            isRequestSent = true;
            $.ajax({
                url: `/${document.getElementById("from").value}`,
                type: 'POST',
                dataType: 'json',
                data: {
                    input_word: inputWord
                },
                success: function(data) {
                    var suggestionBox = $('#get_new_word');
                    suggestionBox.empty();
                    if (data.predicted_words.length > 0) {
                        data.predicted_words.forEach(function(word) {
                            suggestionBox.append('<div class="suggestion btn btn-light">' + word + '</div>');
                        });
                    }
                },
                complete: function() {
                    isRequestSent = false;
                }
            });
        }
    }

    // Функция для перевода текста
    async function translate(text) {
        try {
            const response = await fetch("http://94.231.205.187:5000/translate", {
                method: "POST",
                body: JSON.stringify({
                    q: text,
                    source: document.getElementById("from").value,
                    target: document.getElementById("to").value,
                    format: "text"
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            });
            const result = await response.json();
            return result.translatedText;
        } catch (error) {
            console.log(error);
        }
    }



    function getLastWord() {
        var inputWordElement = document.getElementById("input_word");
        var words = inputWordElement.value.trim().split(/\s+/);
        var lastWord = words[words.length - 1];
        lastWord = lastWord.replace(/\.$/, '');
        console.log(lastWord)
        return lastWord;
    }

    function appendSelectedWord(selectedWord) {
        var inputWordElement = document.getElementById("input_word");
        const inputVal = document.getElementById('input_word').value;
        if (inputVal.endsWith(' ')) {
            inputWordElement.value = inputWordElement.value + selectedWord + " ";
        } else {
            inputWordElement.value = inputWordElement.value + " " + selectedWord + " ";
        }
    }

    function clearSuggestions() {
        $('#get_new_word').empty();
    }

async function check_text() {
  const inputVal = document.getElementById('input_word').value;
  // Замена множественных пробелов на один пробел, оставляя только последний пробел
  const normalizedVal = inputVal.replace(/\s+/g, ' ');
  // Добавление пробела после знаков препинания в конце строки, если они есть
  const lastChar = normalizedVal[normalizedVal.length - 1];
  if (lastChar === '-' || lastChar === ',' || lastChar === '.' || lastChar === '?' || lastChar === '!') {
    document.getElementById('input_word').value = normalizedVal + ' ';
  } else {
    // Установка очищенного значения обратно в input
    document.getElementById('input_word').value = normalizedVal;
  }
}


    async function highlightWords() {
        const inputVal = document.getElementById('input_word').value;
        if (inputVal.endsWith(' ')) {
            const words = inputVal.split(' ');
            // Получаем введенный текст из input
            var suggestionBox = $('#txt_box');
            // Очищаем контейнер с предыдущими результатами
            suggestionBox.empty();
            // Используем цикл for для обработки каждого слова
            for (let i = 0; i < words.length; i++) {
                const word = words[i];
                if (word !== "" && word !== " ") {
                    suggestionBox.append('<div class="btn btn-warning">' + word + '</div>'); //  текст
                }
            }
            
        }
    }
    async function tr() {
        const textInput = document.getElementById('input_word');
        var suggestionBoxT = $('#txt_box_tranlate')
        const text = textInput.value;
        suggestionBoxT.empty();
        // Проверяем, содержит ли поле ввода текст
        if (text.trim() === "" && text.trim() === " ") {
            alert("Введите текст для перевода");
            return;
        }else{
        const words = text.split(" ");
        suggestionBoxT.innerHTML = "";
          for (let i = 0; i < words.length - 1; i++) {
                const word = words[i];
            if (word != "" && word !== " ") {
                console.log(word)
                const translatedWord = await translate(word);
                if (translatedWord !== undefined) { suggestionBoxT.append('<div class="btn btn-primary">' + `${translatedWord}` + '</div>');      }
    }
  }
    suggestionBoxT.append('<div class="btn btn-info go_again" onclick="tr()">Ещё раз!</div>')
}
}



</script>
</body>
</html>

