<!DOCTYPE html>
<html>
<head>
    <title>Самоучитель</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .suggestion {
            cursor: pointer;
        }
        .dot {
        text-decoration: none; /* Убираем подчеркивание */
        border-bottom: 1px dashed #000080; /* Добавляем свою линию */
       }
        .word-block {
            display: inline-block;
            border: 1px solid #ccc;
            padding: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-3">Перевод предложений</h1>
        <form>
            <div class="form-group">
                <div id="txt_box"></div><br>
                <div id="txt_box_tranlate"></div>
                <label for="input_word">Введите предложение</label>
                <input type="text" class="form-control" id="input_word" name="input_word" required>
                <br><button class="btn btn-secondary" onclick="translate_inmput()">Перевести предложение</button>
                <p class="dot" ></p>
                <div id="suggestion_box"></div>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        function sleep(ms) {
          const start = new Date().getTime();
          while (new Date().getTime() - start < ms) {}
        }


        function pprint(obj) {
            const jsonString = JSON.stringify(obj, null, 2);
                console.log(jsonString);
        }


        $(document).ready(function() {
            $('#input_word').on('input', function() {
                chek_text();
                highlightWords();
                var inputWord = getLastWord();
                if (inputWord.length >= 1) {
                    makePrediction(inputWord);
                } else {
                    clearSuggestions();
                }
            });

            $(document).on('click', '.suggestion', function() {
                var selectedWord = $(this).text();
                appendSelectedWord(selectedWord);
                clearSuggestions();
                makePrediction(getLastWord());
                highlightWords();
            });
        });

        var isRequestSent = false;

        function makePrediction(inputWord) {
            if (!isRequestSent) {
                isRequestSent = true;
                $.ajax({
                    url: '/predict',
                    type: 'POST',
                    dataType: 'json',
                    data: {input_word: inputWord},
                    success: function(data) {
                        var suggestionBox = $('#suggestion_box');
                        suggestionBox.empty();
                        if (data.predicted_words.length > 0) {
                            data.predicted_words.forEach(function(word) {
                                suggestionBox.append('<div class="suggestion btn btn-light">' + word + '</div>');
                            });
                        } else {
                            makePrediction(' ');
                        }
                    },
                    complete: function() {
                        isRequestSent = false;
                    }
                });
            }
        }
        // Функция для перевода текста
function translate(text) {
    return new Promise(function (resolve, reject) {
        try {
            const res = fetch("http://94.231.205.187:5000/translate", {
                method: "POST",
                body: JSON.stringify({
                    q: text,
                    source: "auto",
                    target: "ru",
                    format: "text"
                }),
                headers: { "Content-Type": "application/json" }
            });
            res.then(function (response) {
                return response.json();
            }).then(function (result) {
                const translatedText = result.translatedText;
                resolve({ text, translatedText });
            }).catch(function (error) {
                reject(error);
            });
        } catch (error) {
            reject(error);
        }
    });
}

    function getLastWord() {
            var inputWordElement = document.getElementById("input_word");
            var words =  inputWordElement.value.trim().split(/\s+/);
            var lastWord = words[words.length - 1];
            lastWord = lastWord.replace(/\.$/, '');
            return lastWord;
        }

        function appendSelectedWord(selectedWord) {
            var inputWordElement = document.getElementById("input_word");
            const inputVal = document.getElementById('input_word').value;
            if (inputVal.endsWith(' ')) {
                inputWordElement.value = inputWordElement.value + selectedWord + " ";
            } else {
                inputWordElement.value = inputWordElement.value + " " + selectedWord + " ";
            }
        }

        function clearSuggestions() {
            $('#suggestion_box').empty();
        }


function chek_text(){
    const inputVal = document.getElementById('input_word').value;
    // Замена множественных пробелов на один пробел, оставляя только последний пробел
    const cleanedVal = inputVal.replace(/\s+/g, ' ');

    // Установка очищенного значения обратно в input
    document.getElementById('input_word').value = cleanedVal;


}


    function highlightWords() {
            var arrText = []
            var arrTextTranslate = []
            var arrWord = []
            const inputVal = document.getElementById('input_word').value;
            if (inputVal.endsWith(' ')) {
                const words = inputVal.split(' ');
                // Получаем введенный текст из input
                var suggestionBox = $('#txt_box');
                var suggestionBoxT = $('#txt_box_tranlate')

                // Очищаем контейнер с предыдущими результатами
                suggestionBox.empty();
                suggestionBoxT.empty();

                // Используем цикл for для обработки каждого слова
                for (let i = 0; i < words.length; i++) {
                    const word = words[i];
                    if (word != "" && word != " ") {
                        suggestionBox.append('<div class="btn btn-warning">' + word + '</div>'); // английский текст 
                        translate(word).then(function ({ text, translatedText }) {
                            arrText.push(text)
                            arrTextTranslate.push(translatedText)
                            console.log("ru " + arrText)

                            // Сравниваем word с arrText
                            if (words[i] === text) {
                                console.log("Word "+    word+ " out text "+ arrText + " translate " +arrTextTranslate)
                                suggestionBoxT.append('<div class="btn btn-success">' + arrTextTranslate[i] + '</div>');

                                
                            }
                        })
                    }
                }
            }

}








    </script>
</body>
</html>

